.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left-thumbnail {
    float: left;
    width: 150px;
    margin-right: 15px;
    margin-bottom: 15px;
    clear: left;
}

.right-thumbnail {
    float: right;
    width: 150px;
    margin-left: 15px;
    margin-bottom: 15px;
    clear: right;
}