[package]
name = "blog"
version = "0.1.0"
authors = ["The Rust Project Developers"]
edition = "2021"

[[bin]]
name = "blog"
path = "src/blog.rs"

[dependencies]
color-eyre = "=0.6.2"
eyre = "=0.6.12"
handlebars = { version = "=5.1.1", features = ["dir_source"] }
lazy_static = "=1.4.0"
serde = "=1.0.196"
serde_derive = "=1.0.196"
serde_yaml = "=0.9.32"
serde_json = "=1.0.114"
comrak = "=0.21.0"
rayon = "=1.8.1"
regex = "=1.10.3"
sass-rs = "=0.2.2"
chrono = "=0.4.34"

[workspace]
members = ["serve"]
