[package]
name = "blog"
version = "0.1.0"
authors = ["The Rust Project Developers"]
edition = "2021"

[dependencies]
color-eyre = "=0.6.3"
eyre = "=0.6.12"
handlebars = { version = "=6.3.0", features = ["dir_source"] }
lazy_static = "=1.5.0"
serde = "=1.0.217"
serde_derive = "=1.0.217"
serde_yaml = "=0.9.33"
serde_json = "=1.0.137"
comrak = "=0.34.0"
rayon = "=1.10.0"
regex = "=1.11.1"
sass-rs = "=0.2.2"
chrono = "=0.4.38"

[workspace]
members = ["serve"]
