[package]
name = "blog"
version = "0.1.0"
authors = ["The Rust Project Developers"]
edition = "2021"

[dependencies]
color-eyre = "=0.6.2"
eyre = "=0.6.12"
handlebars = { version = "=5.1.2", features = ["dir_source"] }
lazy_static = "=1.4.0"
serde = "=1.0.197"
serde_derive = "=1.0.197"
serde_yaml = "=0.9.33"
serde_json = "=1.0.115"
comrak = "=0.21.0"
rayon = "=1.9.0"
regex = "=1.10.3"
sass-rs = "=0.2.2"
chrono = "=0.4.35"

[workspace]
members = ["serve"]
