[package]
name = "blog"
version = "0.1.0"
authors = ["The Rust Project Developers"]
edition = "2021"

[[bin]]
name = "blog"
path = "src/blog.rs"

[dependencies]
color-eyre = "0.6.2"
eyre = "0.6.8"
handlebars = { version = "3", features = ["dir_source"] }
lazy_static = "1.4.0"
serde = "1.0"
serde_derive = "1.0"
serde_yaml = "0.8"
serde_json = "1.0"
comrak = "0.13"
rayon = "1.8.0"
regex = "1.3"
sass-rs = "0.2"
chrono = "0.4"

[workspace]
members = ["serve"]
