<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="alternate" type="application/rss+xml" title="The Rust Programming Language Blog" href="https://blog.rust-lang.org/feed.xml" />
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/center-img.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.twitter_username }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    {% if page.description %}
    <meta name="twitter:description" content="{{ page.description | xml_escape }}" />
    {% else %}
    <meta name="twitter:description" content="{{ site.description | xml_escape }}" />
    {% endif %}
    <meta name="twitter:url" content="{{ site.root }}{{ page.url }}">

</head>
