@import 'tachyons-ext';

$body-font: 'Fira Sans', Helvetica, Arial, sans-serif;
$header-font: 'Alfa Slab One', serif;

// Switching theme will only work if JavaScript is enabled as well

// Default light theme
:root, :root:not([data-theme]) {
  --gray: #2a3439;
  --red: #a72145;
  --yellow: #ffc832;
  --code-color: black;
  --code-bg-color: rgba(42, 52, 57, 0.05);
  --code-border-color: rgba(42, 52, 57, 0.25);
  --blockquote-color: black;
  --blockquote-bg-color: rgb(247, 249, 249);
  --blockquote-left-border-color: rgb(195, 205, 210);
  --body-background-color: white;
  --body-foreground-color: white;
  --body-color: rgb(34,34,34);
  --div-brand-a-color: black;
  --white-elem-color: black;
  --white-a: #2a3439;
  --nav-links-a: #2a3439;
  --publish-date-author: #2a3439;
  --section-header-h2-color: black;
  --theme-icon: #43484d;
  --theme-popup-border: #43484d;
  --theme-popup-bg: white;
  --theme-hover: #cacaca;
  --theme-choice-color: black;
  --rust-logo-filter: initial;
}

// Dark theme
:root[data-theme='dark'] {
  --gray: #2a3439;
  --red: #a72145;
  --yellow: #ffc832;
  --code-color: white;
  --code-bg-color: rgba(213, 203, 198, 0.05);
  --code-border-color: rgba(213, 203, 198, 0.25);
  --blockquote-color: rgb(195, 205, 210);
  --blockquote-bg-color: rgba(213, 203, 198, 0.05);
  --blockquote-left-border-color: rgb(195, 205, 210);
  --body-background-color: #181a1b;
  --body-foreground-color: #e8e6e3;
  --body-color: white;
  --div-brand-a-color: white;
  --white-elem-color: white;
  --white-elem-a: #d5cbc6;
  --nav-links-a: #d5cbc6;
  --publish-date-author: #d5cbc6;
  --section-header-h2-color: white;
  --theme-icon: #43484d;
  --theme-popup-border: #43484d;
  --theme-popup-bg: #141617;
  --theme-hover: #474c51;
  --theme-choice-color: #d5cbc6;
  --rust-logo-filter: drop-shadow(1px 0 0px #fff) drop-shadow(0 1px 0 #fff) drop-shadow(-1px 0 0 #fff) drop-shadow(0 -1px 0 #fff);
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 30em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: $body-font;
  background-color: var(--body-background-color);
  color: var(--body-color);

  /* Ensure the footer is always at the bottom of the screen */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  & > #main-content {
      flex: 1;
  }
}

blockquote {
    font-style: italic;
    position: relative;
    background-color: var(--blockquote-bg-color);
    border-left: 8px solid var(--blockquote-left-border-color);
    border-radius: 5px;
    margin: 0;
    margin-bottom: 2rem;
    padding: 2rem;

    &:before {
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}

details > summary {
    cursor: pointer;
    font-style: italic;
}

details > blockquote {
    font-style: normal;
}

code {
  overflow: auto;
}

section {
  padding: 30px 0 60px 0;

  header {
    padding: 30px 0 60px 0;
    display: inline-block;

    h2 {
      font-size: 2.6em;
      font-family: $header-font;
      margin: 0;
      padding: 0;
      letter-spacing: 1px;
      color: var(--section-header-h2-color);
    }
  }
}

header h1, section h2 {
  z-index: 999999;
  position: relative;
}

header h1 {
  font-family: $header-font;
  font-size: 8rem;
  margin-bottom: 0;
  margin-top: 0;
}

section {
  padding: 30px 0 60px 0;
}

section .container {
  padding-top: 20px;
}

// TODO:  remove when switching to Tachyons -- these are overrides for Skeleton.
ul.nav, ul.nav li {
  margin-bottom: 0;
}

.nav a {
  color: var(--gray);
  color: var(--nav-links-a);
}

div.brand {
  $v-top: 3px; // for getting the vertical rhythm just right

  color: black;
  font-family: $header-font;
  font-size: 3rem;
  text-decoration: none;
  margin-top: $v-top;

  & a {
    color: var(--div-brand-a-color);
    text-decoration: none;
  }

  img {
    width: 80px;
    margin-top: -$v-top;
  }

  span {
    display: inline-block;
    margin-left: -1rem;
  }
}

.white {
   color: var(--white-elem-color);
  .highlight {
    background-color: var(--yellow);
  }
  a {
    color: var(--white-elem-a);
    text-decoration: underline;
  }
  .button.button-secondary {
    background-color: var(--yellow);
    color: var(--gray);
    border: 1px solid var(--yellow);
    text-decoration: none;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover, &:focus {
      border-color: var(--gray);
    }
  }
  code {
    color: var(--code-color);
    background-color: var(--code-bg-color);
    border: 1px solid var(--code-border-color);
  }

  a.anchor::before {
    content: "ยง";
    display: none;
    position: absolute;
    width: 1em;
    margin-left: -1em;
    text-decoration: none;
    opacity: 0.7;
    color: var(--gray);
    font-weight: normal;
  }
  :hover > a.anchor::before {
    display: block;
  }
  a.anchor:hover::before {
    opacity: 1;
  }
}

ul, ol {
  list-style-position: outside;
  padding-left: 1.2em;
}

ul {
  list-style-type: disc;
}

.posts {
  background-color: var(--gray);
  color: var(--body-foreground-color);
  .highlight {
    background-color: var(--red);
  }
  a {
    color: var(--body-foreground-color);
    text-decoration: underline;
  }
  .button.button-secondary {
    background-color: var(--red);
    border: 1px solid var(--red);
    color: white;
    text-decoration: none;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover, &:focus {
      border-color: white;
    }
  }
  code {
    color: white;
    background-color: rgba(white, 0.15);
    border: 1px solid rgba(white, 0.65);
  }
}

table.post-list a {
  text-decoration: none;
}
table.post-list a:hover {
  text-decoration: underline;
}

.publish-date-author {
  color: var(--publish-date-author);
  margin: -60px 0 60px 0;
}

footer {
  padding: 30px 0;
  background-color: black;
  color: white;

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  a {
    color: var(--yellow);
    text-decoration: none;

    &:hover {
      color: var(--yellow);
      text-decoration: underline;
    }
  }
}

footer h4 {
  font-size: 1.2em;
  font-weight: 800;
}

footer img {
  width: 40px;
  padding: 0 10px;
}

footer .attribution {
  text-align: center;
  padding-top: 30px;
}

h3, .post h2, header h2 {
  display: inline-block;
  font-weight: 800;
  font-size: 1.8em;
  letter-spacing: normal;
}

.post {
  h2 {
    font-size: 2em;
  }
  
  h3 {
    display: block;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .right-thumbnail {
    float: right;
    width: 150px;
    margin-left: 15px;
    margin-bottom: 15px;
    clear: right;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

header h1 {
  letter-spacing: 1px;
}


.highlight {
  height: 12px;
  position: relative;
  top: 0;
  left: -10px;
  width: 120%;
  max-width: 90vw;
  border-radius: 2px;
}

@media screen and (max-width: 769px) {
  .highlight {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

// Theme switch popup
// theme selector visible only if JavaScript is available

.theme-icon {
  display: none;
  line-height: 2em;
  border: 2px solid var(--theme-icon);
  border-radius: 5px;
  padding: 0px 5px;
  color: var(--theme-choice-color);
  &:hover {
    color: var(--theme-choice-color);
  }
}

#theme-choice {
  display: none;
  border: 2px solid var(--theme-popup-border);
  border-radius: 5px;
  color: var(--theme-choice-color);
  background: var(--theme-popup-bg);
  position: absolute;
  list-style: none;
  font-weight: 400;
  padding: 0px;
  // counterbalance vendored skeleton.css
  margin: 0.2em -0.5em;
}

.theme-item {
  padding: 0px 5px;
}

#theme-choice.showThemeDropdown {
  display: block;
  z-index: 1;
}

li.theme-item:hover {
  background-color: var(--theme-hover);
}

.rust-logo {
    filter: var(--rust-logo-filter);
}
