{% extends "layout.html" %}

{% block page %}
<header class="mt3 mt0-ns mb4-ns">
  <div class="container flex flex-column flex-row-l justify-between-l">
    <div class="mw6-l">
      <p>{{ blog.index_html | safe }}</p>
    </div>
  </div>    
  <div class="container flex flex-column flex-row-l justify-between-l">
    <div class="mw8-l">
      <p>
      <b>See also:</b>
      {% for blog in other_blogs %}
        <a href="{{ blog.url }}">{{ blog.link_text }}</a>
      {% endfor %}
      </p>
    </div>
  </div>
</header>

<section id="posts" class="posts">
   <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">

    <table class="post-list collapse w-100 f2-l f2-m f3-s">
    {% for post in blog.posts %}
      {% if post.show_year %}
        <tr>
          <td class="bn"></td>
          <td class="bn"><h3 class="f0-l f1-m f2-s mt4 mb0">Posts in {{ post.year }}</h3></td>
        </tr>
      {% endif %}
      <tr>
        <td class="tr o-60 pr4 pr5-l bn">{{ post.month | month_name }}&nbsp;{{ post.day }}</td>
        <td class="bn"><a href="/{{ blog.prefix ~ post.url }}">{{ post.title }}</a></td>
      </tr>
    {% endfor %}
    </table>

  </div>
</section>
{% endblock page %}
