
{% if page -%}
  {% set section = get_section(path=(page.ancestors | last), metadata_only=true) -%}
  {% set title = page.title ~ " | " ~ section.title -%}
{% else -%}
  {% set title = section.extra.index_title -%}
{% endif -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{<escape_hbs input={title} />}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="description" content="Empowering everyone to build reliable and efficient software.">
     {% filter indent(blank=true) %}{{<headers title={title} section={section} />}}{% endfilter %}
  </head>
  <body>
    {% filter indent(blank=true) %}{{<nav section={section} />}}{% endfilter %}
    {%- block page %}{% endblock page %}
    {% filter indent(blank=true) %}{{<footer />}}{% endfilter %}
  </body>
</html>
