{% component month_name(num: integer) %}
    {%- if     num == 1 %}Jan.
    {%- elif num == 2 %}Feb.
    {%- elif num == 3 %}Mar.
    {%- elif num == 4 %}Apr.
    {%- elif num == 5 %}May
    {%- elif num == 6 %}June
    {%- elif num == 7 %}July
    {%- elif num == 8 %}Aug.
    {%- elif num == 9 %}Sept.
    {%- elif num == 10 %}Oct.
    {%- elif num == 11 %}Nov.
    {%- elif num == 12 %}Dec.
    {%- else %}{{ throw(message="invalid month! " ~ num) }}
    {%- endif %}
{%- endcomponent month_name %}

{#
    The blog templates used to be written in Handlebars, but Tera and Handlebars
    escape HTML differently by default:
    Tera:       &<>"'/
    Handlebars: &<>"'`=
    To keep the output identical, this component matches the behavior of Handlebars.
#}
{% component escape_hbs(input: string) -%}
    {{ input
        | replace(from="&", to="&amp;")
        | replace(from="<", to="&lt;")
        | replace(from=">", to="&gt;")
        | replace(from='"', to="&quot;")
        | replace(from="'", to="&#x27;")
        | replace(from="`", to="&#x60;")
        | replace(from="=", to="&#x3D;")
        | safe
    }}
{%- endcomponent escape_hbs %}

{% component show_year(year: integer, post_name: string = "Posts") -%}
      <tr>
        <td class="bn"></td>
        <td class="bn"><h3 class="f0-l f1-m f2-s mt4 mb0">{{ post_name }} in {{ year }}</h3></td>
      </tr>
{%- endcomponent show_year %}
