{% import "macros.html" as macros -%}
{% extends "layout.html" -%}
{% block page -%}
<header class="mt3 mt0-ns mb4-ns">
  <div class="container flex flex-column flex-row-l justify-between-l">
    <div class="mw6-l">
      <p>
        This is a subset of the <a href="/">main Rust blog</a>
        listing only official release announcement posts.
      </p>
      <p>
        Did you know? There are convenient redirects for
        the latest and specific release posts:
        <br/>• <a href="/releases/latest">/releases/latest</a>
        <br/>• <a href="/releases/1.85.0">/releases/1.85.0</a>
      </p>
    </div>
  </div>
</header>

{% set section = get_section(path="_index.md") -%}
<section id="posts" class="posts">
   <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">

    <table class="post-list collapse w-100 f2-l f2-m f3-s">
    {%- set rev_pages = section.pages | reverse %}
    {%- for page in rev_pages %}
      {%- set num_comps = page.components | length %}
      {%- if num_comps < 4 %}{{ throw(message="Missing date in 'path' key, required format: '[inside-rust/]YYYY/MM/DD/slug-of-your-choice'") }}{% endif %}
      {%- set year = page.components | nth(n=num_comps - 4) | int %}
      {%- set month = page.components | nth(n=num_comps - 3) | int %}
      {%- set day = page.components | nth(n=num_comps - 2) | int %}
      {%- if loop.index0 == 0 %}
      {{ macros::show_year(year=year, post_name="Releases") }}
      {%- set_global prev_year = year %}
      {%- endif %}

      {%- if page.extra is containing("release") %}
      {%- if loop.index0 != 0 %}
        {%- if prev_year != year %}
      {{ macros::show_year(year=year, post_name="Releases") }}
        {%- set_global prev_year = year %}
        {%- endif %}
      {%- endif %}
      {% if page.show_year %}<tr>
        <td class="bn"></td>
        <td class="bn"><h3 class="f0-l f1-m f2-s mt4 mb0">Posts in {{ year }}</h3></td>
      </tr>{% endif %}
      <tr>
        <td class="tr o-60 pr4 pr5-l bn">{{ macros::month_name(num=month) }}&nbsp;{{ day }}</td>
        <td class="bn"><a href="{{ config.base_url | safe }}{{ page.path | safe }}">{{ macros::escape_hbs(input=page.title) }}</a></td>
      </tr>
      {%- endif %}
    {%- endfor %}
    </table>
  </div>
</section>
{%- endblock page %}
