@charset "UTF-8";
@media screen and (max-width: 30em) {
  .flex-20-s {
    flex: 0 0 20%; } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .max-width-half-m {
    max-width: 50%; } }

@media screen and (min-width: 60em) {
  .max-width-quarter-l {
    max-width: 25%; }
  .mw-50-l {
    max-width: 50%; }
  .mw-33-l {
    max-width: 33%; }
  .mw-67-l {
    max-width: 67%; } }

html {
  font-size: 62.5%; }

@media screen and (min-width: 30em) {
  html {
    font-size: 75%; } }

body {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  background-color: white;
  /* Ensure the footer is always at the bottom of the screen */
  min-height: 100vh;
  display: flex;
  flex-direction: column; }
  body > #main-content {
    flex: 1; }

code {
  overflow: auto; }

code.language-console::before,
code.language-bash::before {
  content: '$ '; }

section {
  padding: 30px 0 60px 0; }
  section header {
    padding: 30px 0 60px 0;
    display: inline-block; }
    section header h2 {
      font-size: 2.6em;
      font-family: "Alfa Slab One", serif;
      margin: 0;
      padding: 0;
      letter-spacing: 1px; }

header h1, section h2 {
  z-index: 999999;
  position: relative; }

header h1 {
  font-family: "Alfa Slab One", serif;
  font-size: 8rem;
  margin-bottom: 0;
  margin-top: 0; }

section {
  padding: 30px 0 60px 0; }

section .container {
  padding-top: 20px; }

ul.nav, ul.nav li {
  margin-bottom: 0; }

.nav a {
  color: #2a3439; }

div.brand {
  color: black;
  font-family: "Alfa Slab One", serif;
  font-size: 3rem;
  text-decoration: none;
  margin-top: 3px; }
  div.brand a {
    color: black;
    text-decoration: none; }
  div.brand img {
    width: 80px;
    margin-top: -3px; }
  div.brand span {
    display: inline-block;
    margin-left: -1rem; }

.white {
  color: black; }
  .white .highlight {
    background-color: #ffc832; }
  .white a {
    color: #2a3439;
    text-decoration: underline; }
  .white .button.button-secondary {
    background-color: #ffc832;
    border: 1px solid #ffc832;
    color: #2a3439;
    text-decoration: none;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis; }
    .white .button.button-secondary:hover, .white .button.button-secondary:focus {
      border-color: #2a3439; }
  .white code {
    color: black;
    background-color: rgba(42, 52, 57, 0.05);
    border: 1px solid rgba(42, 52, 57, 0.25); }
  .white a.anchor::before {
    content: "ยง";
    display: none;
    position: absolute;
    width: 1em;
    margin-left: -1em;
    text-decoration: none;
    opacity: 0.7;
    color: #2a3439;
    font-weight: normal; }
  .white :hover > a.anchor::before {
    display: block; }
  .white a.anchor:hover::before {
    opacity: 1; }

ul, ol {
  list-style-position: outside;
  padding-left: 1.2em; }

.posts {
  background-color: #2a3439;
  color: white; }
  .posts .highlight {
    background-color: #a72145; }
  .posts a {
    color: white;
    text-decoration: underline; }
  .posts .button.button-secondary {
    background-color: #a72145;
    border: 1px solid #a72145;
    color: white;
    text-decoration: none;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis; }
    .posts .button.button-secondary:hover, .posts .button.button-secondary:focus {
      border-color: white; }
  .posts code {
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.65); }

table.post-list a {
  text-decoration: none; }

table.post-list a:hover {
  text-decoration: underline; }

.publish-date-author {
  color: #2a3439;
  margin: -60px 0 60px 0; }

footer {
  padding: 30px 0;
  background-color: black;
  color: white; }
  footer ul {
    list-style-type: none;
    padding-left: 0; }
  footer a {
    color: #ffc832;
    text-decoration: none; }
    footer a:hover {
      color: #ffc832;
      text-decoration: underline; }

footer h4 {
  font-size: 1.2em;
  font-weight: 800; }

footer img {
  width: 40px;
  padding: 0 10px; }

footer .attribution {
  text-align: center;
  padding-top: 30px; }

h3, .post h2, header h2 {
  display: inline-block;
  font-weight: 800;
  font-size: 1.8em;
  letter-spacing: normal; }

.post h2 {
  font-size: 2em; }

.post h3 {
  display: block; }

.post img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.post .right-thumbnail {
  float: right;
  width: 150px;
  margin-left: 15px;
  margin-bottom: 15px;
  clear: right;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); }

header h1 {
  letter-spacing: 1px; }

.highlight {
  height: 30px;
  position: relative;
  top: -30px;
  left: -10px;
  width: 120%;
  max-width: 90vw; }
