name: CI
on:
  push:
    branches:
      - master
  pull_request:

env:
  # renovate: datasource=github-tags depName=rust lookupName=rust-lang/rust
  RUST_VERSION: 1.77.2

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - run: rustup override set ${{ env.RUST_VERSION }}
      - run: rustup component add clippy
      - run: rustup component add rustfmt
      - uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # v2.7.3

      - run: cargo clippy --workspace -- -D warnings
      - run: cargo fmt --check --all

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - run: rustup override set ${{ env.RUST_VERSION }}
      - uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # v2.7.3

      - run: cargo run
      - run: cp CNAME ./site/
      - run: touch site/.nojekyll

      - uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3.0.1
        with:
          path: site

  deploy:
    if: ${{ github.ref == 'refs/heads/master' }}

    needs: build

    permissions:
      pages: write
      id-token: write

    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
