name: Snapshot tests
on:
  pull_request

env:
  # renovate: datasource=github-tags depName=rust lookupName=rust-lang/rust
  RUST_VERSION: 1.86.0

jobs:
  snapshot-tests:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.body, 'RUN_SNAPSHOT_TESTS')
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - run: rustup override set ${{ env.RUST_VERSION }}
      - uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # v2.7.8
      - name: Install Zola
        run: cargo install --locked --git https://github.com/senekor/zola --rev 620bf3c46a39b41db30b1e91756a995bbff84d3a

      - run: git fetch --depth 2
      - run: git checkout origin/master
      - name: Generate good snapshots
        run: INSTA_OUTPUT=none INSTA_UPDATE=always cargo test -- --include-ignored
      - run: git checkout $GITHUB_SHA # merge of master+branch
      - run: cargo test -- --include-ignored
